
.header{
    height: 504px;
    background-position: center center;
    background-size: cover;
    position: relative;

    &::after {
        position:absolute;
        content:"";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.1;
    }
}